
body {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  background-color: #a0a2a5;
}

.container {
  width: 700px;
  margin: auto;
  padding: 20px 0px;
}

h1 {
  text-align: center;
  font-size: 66px;
  font-family: 'Bungee Shade', cursive;

}


select {
  width: 260px;
  height: 30px;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right #ddd;
  border: 2px solid black;
}

option {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

h2 {
  color: #b69859;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 500;
  font-size: 4em;
  color: black;

}

.description {
  font-size: 15px;
}

h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2em;
  border-bottom: 2px dotted white;
}

.winner {
  -webkit-animation: color-change 3s infinite;
}

h4 {
 display: inline;
}

span {
  margin-left: 20px;
  font-style: italic;
  font-weight: bold;
}

hr {
  margin-top: 30px;
}


@-webkit-keyframes color-change {
  0% {

    color: #ff000c;
  }

  10% {

    color: #ff0098;
  }

  20% {

    color: #fa00ff;
  }

  30% {

    color: #8c00ff;
  }

  40% {

    color: #1d00ff;
  }

  50% {

    color: #00ff43;
  }

  60% {

    color: #a5ff00;
  }

  70% {

    color: #fff200;
  }
  80% {

    color: #ffb200;
  }

  90% {

    color: #ff5d00;
  }

  100% {

    color: #ff0000;
  }
}
