body {
  font-family: Verdana, sans-serif;
  
  /*font-size: 14px;*/
  /*color: #4F545F;*/
  background-image: url(../images/back2.png);
  /*background-image: url(../images/back1.jpg);*/
  background-size: cover;
  background-color: yellow;
}

.container {
  margin: auto;
  padding: 10px;
  width: 400px;
  margin-top: 20px;
  background-color: black;
  border-radius: 3px;
  /*opacity: 0.7;*/
  /*box-shadow: 10px 10px 20px 0px rgba(161,161,161,0.7);*/
}

h1,h2{
  text-align: center;
  color: yellow;
  font-family: Impact, sans-serif;
  font-size: 45px;
}

.list {
  padding: 1px 15px 30px 15px;
}

li {
  list-style: none;
  padding: 3px 0px;
  color: white;
}

li > span {
  padding-left: 10px;
}

input[type="text"] {
  margin: auto;
  padding: 10px;
  width: 300px;
  display: block;
  font-size: 13px;
  border: 0px;
  border-bottom: 2px solid red;
  outline: none;
}

input[type="text"]:focus {
  border-bottom: 2px solid red;
}

/*.done {
  text-decoration: line-through;
  color: #8f919c; 
}*/

ul li input[type=checkbox]:checked ~ span {
  text-decoration: line-through;
  color: red;

}

button {
  margin: auto;
  display: block;
}

::placeholder {
  color: red;
  font-style: italic;
  opacity: 0.7;
}
